* {
    -fx-spacing: 0;
    -fx-padding: 0;
    -fx-font-size: 16;
}

.MainUI {
    -fx-background-color: #808080;
}

.ToolPalette {
    -fx-background-color: #90A0B0;
}
.ToolPalette .region {
    -fx-spacing: 8;
    -fx-padding: 8;
}
.ToolPalette .button {
    -fx-background-color: #70D0E0;
}
.ToolPalette .button:hover {
    -fx-background-color: #80E0F0;
}

.viewport {
    -fx-background-color: #B0C0D0;
}

.link_header {
    -fx-font: italic 12px monospace;
}

.link_body {
    -fx-font: 10px monospace;
}

.node_body {
    -fx-font: bold 10px monospace;
    -fx-text-alignment: center;
}

.link_textbox {
    -fx-spacing: 2;
    -fx-padding: 2;
    -fx-border-color: #AA6644;
}

.editor_pane {
    -fx-background-color: #90A0B0;
    -fx-padding: 8;
    -fx-spacing: 8;
}
.editor_title {
    -fx-background-color: #D0E0E0;
    -fx-font: 20 arial;
    -fx-padding: 8;
}
.editor_header {
    -fx-font-family: Arial;
}

.editor_pane .button {
    -fx-padding: 4;
}

.miniature_rect {
    -fx-opacity: 0.1;
}